---
import type { Project } from "@leon/cms/types";

import Badge from "./Badge";

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<div class="flex flex-1 flex-col gap-6">
  <div class="flex flex-col gap-3">
    <p class="font-serif text-2xl font-medium text-foreground">
      {project.role}
    </p>
    <div class="flex flex-col gap-1">
      <p class="font-sans text-base italic text-foreground">
        {project.period}
      </p>
      <p class="font-sans font-medium text-foreground">
        {project.description}
      </p>
    </div>
  </div>
  <div class="flex flex-row flex-wrap gap-3">
    {project.tags?.filter(Boolean).map((tag) => <Badge text={tag} />)}
  </div>
</div>
