---
import BaseHead from "~/components/BaseHead.astro";
import Frame from "~/components/common/Frame";
import CursorHighlight from "~/components/CursorHighlight";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
    <title>Leon Esquillon</title>
    <meta name="author" content="Leon Esquillon" />
    <meta
      name="description"
      content="Leon Esquillon - UI/UX Designer. Crafting intuitive and user-centered digital experiences. Check out my portfolio showcasing my design work."
    />
    <meta
      name="keywords"
      content="UI Design, UX Design, User Interface, User Experience, Web Design, Portfolio, Frontend Design, Interaction Design"
    />
  </head>

  <body class="dark bg-background lg:overflow-hidden">
    <Frame client:only />
    <CursorHighlight client:load />
    <div
      class="mx-auto flex min-h-screen max-w-screen-2xl flex-col lg:flex-row"
    >
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
