---
import "@fontsource/lora";
import "@fontsource/lora/400-italic.css";
import "@fontsource/work-sans";
import "@fontsource/work-sans/500.css";
import "@fontsource/work-sans/600.css";
import "@fontsource/work-sans/700.css";

import loraWoff2 from "@fontsource/lora/files/lora-latin-400-normal.woff2?url";
import workSansWoff2 from "@fontsource/work-sans/files/work-sans-latin-400-normal.woff2?url";

import "~/styles/globals.css";

import { ViewTransitions } from "astro:transitions";
import ClientRouter from "astro/components/ClientRouter.astro";

import CursorHighlight from "~/components/CursorHighlight";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Leon Esquillon - UI/UX Designer. Crafting intuitive and user-centered digital experiences. Check out my portfolio showcasing my design work."
    />
    <meta name="author" content="Leon Esquillon" />
    <meta
      name="keywords"
      content="UI Design, UX Design, User Interface, User Experience, Web Design, Portfolio, Frontend Design, Interaction Design"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={loraWoff2}
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={workSansWoff2}
      crossorigin="anonymous"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Leon Esquillon</title>
    <ClientRouter />
  </head>
  <body class="lg:overflow-hidden">
    <CursorHighlight client:load />
    <div
      class="mx-auto flex min-h-screen max-w-screen-2xl flex-col lg:flex-row"
    >
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #0f0f0f;
  }
</style>
