---
import Logo from "./Logo";
import RailContainer from "./RailContainer";
import RailNav from "./RailNav";
---

<RailContainer className="p-0">
  <RailNav className="h-full py-20 pe-10 ps-20" href="/">
    <div class="relative h-6 w-6">
      <Logo
        className="text-muted-foreground transition-all group-hover/nav:text-foreground"
      />
    </div>
  </RailNav>
</RailContainer>
