---
const SECTIONS = ["INTRODUCTION", "EXPERIENCE", "BIO"];
---

<div
  class="flex flex-col items-start gap-2 border-t-[1px] border-border p-4 lg:hidden"
>
  {
    SECTIONS.map((section, index) => (
      <button
        data-index={index}
        class="text-md nav-button font-sans font-semibold text-muted-foreground"
      >
        {section}
      </button>
    ))
  }
</div>
